#Etape3 {
    position: relative;
    border-radius: 8px;
    background-color: rgba(206, 206, 206, 0.4);
    backdrop-filter: blur(3px);
    width: 80%;
    height: 34vw;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    display: none;
}

#Etape3>h2 {
    position: relative;
    font-size: 1.75em;
    top: 5%;
    margin-top: 0%;
}

#ParametreMatch>#DateTitre {
    position: relative;
    left: -40%;
}

#Terrain {
    width: 55%;
    margin: auto;
    display: block;
    height: 70vh;
}

#Precedent, #Suivant {
    background-color: rgba(206, 206, 206, 0.4);
    width: 2%;
    text-align: center;
    height: 15vh;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    transition: transform 0.2s;
    cursor: pointer;
}

#Precedent:hover, #Suivant:hover {
    transform: scale(1.1);
}

#Precedent {
    left: 8%;
}

#Suivant {
    left: 90.1%;
}

#Etape1 {
    background-color: rgba(206, 206, 206, 0.4);
    border-radius: 12px;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

#Menu-Gauche {
    position: absolute;
    width: 15%;
    text-align: center;
    height: 70%;
}

#Menu-Droit {
    position: absolute;
    width: 15%;
    right: 16%;
    text-align: center;
    height: 70%;
}