

p
{
    font-size: 14px; /* Paragraphes de 14 pixels */
}
h1
{
    font-size: 30px; /* Titres de 40 pixels */
}





  .centre{display:block;margin:auto;width:500px;
   
  }


  .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid blue;
}  