label, footer
{
    font-family: 'Raleway', sans-serif;
}

label
{
    font-size: 1rem;
    padding-right: 10px;
}

select
{
    font-size: 15px;
    padding: 2px 5px;
}

footer
{
    font-size: 8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

body
{
    text-align: center;
}

#Conteneur
{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.element
{
    width: 14%;
    background-color: rgba(206, 206, 206, 2.4);
    height: 55px;
    border-radius: 5%;
}