#ParametreMatch {
    position: relative;
    border-radius: 8px;
    background-color: rgb(44, 62, 80);
    width: 80%;
    height: 34vw;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}

#ParametreMatch>h2 {
    position: relative;
    font-size: 1.75em;
    top: 5%;
    margin-top: 0%;
}

#ParametreMatch>#DateTitre {
    position: relative;
    left: -40%;
}