body {
    background-image: url("../img/Background-Menu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    text-align: center;
}

html {
    color: rgb(255, 255, 255);
}

p
{
    font-size: 14px; /* Paragraphes de 14 pixels */
    text-align: center;
}

h1
{
    position: relative;
    top: 4.5%;
}
h2{
    margin-top: 4%;
}

#carrégris {

    background-color: rgba(206, 206, 206, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    position:relative; margin-top: 10%; margin-left: 27%;
    width: 50%;
    height: 70%;
    overflow: hidden;
    transition: transform 1s, opacity 1s;
    text-align : center;
    
    
    
    
}

td
{
    border: thin solid #6495ed;
    padding: 8px;
}

th
{
    padding: 10px;
    border: black 2px solid;
    border-radius: 8px;
    background: rgba(0, 0, 129, 0.212);
}

.btntb {
    border:none;
}


table {
    margin: auto;
}


.scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rgb(253, 253, 253) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    margin-top: 5%;
  }

  .bouton {

    background-color:rgb(253, 253, 253) ;
    
		color:#f5f4f43f;
		height: 9%;
        width:10%;
        border-radius: 8px;
		margin-bottom:14px;
		text-decoration: none;
        
		
  


  }
  ::-webkit-scrollbar-track {

    border-radius: 8px;
  }
  